apiVersion: v1
kind: Service
metadata:
  name: customer-registration-service
  labels:
    app: customer-registration
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
  selector:
    app: customer-registration
